In [1]:
# %matplotlib inline
import pandas as pd

### Connect Pandas to the database with this URL:

In [2]:
titles = pd.read_csv('C:\\Users\\Beasty\\LightHouseLabs\\titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv('C:\\Users\\Beasty\\LightHouseLabs\\cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [7]:
titles.shape[0]

232330

### What are the earliest two films listed in the titles dataframe?

In [12]:
titles.sort_values(by='year')

                                                    title  year
177757                                         Miss Jerry  1894
215272                                 The Startled Lover  1898
124505     Reproduction of the Corbett and Jeffries Fight  1899
20657   Pierrot's Problem, or How to Make a Fat Wife O...  1900
13599                                Family Troubles (II)  1900
...                                                   ...   ...
10754                       Hyperion: The Wrath of Kronos  2024
229718                                         Gods Heart  2025
145689                                        Rise of Man  2025
102561                                  Settling of Score  2026
65488                                         War in Snow  2026

[232330 rows x 2 columns]

In [15]:
titles.sort_values(by='year').iloc[0:2,:]

                     title  year
177757          Miss Jerry  1894
215272  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [19]:
titles[titles['title']=="Hamlet"].count()

title    18
year     18
dtype: int64

### How many movies are titled "North by Northwest"?

In [21]:
titles[titles['title']=="North by Northwest"].count()

title    1
year     1
dtype: int64

### When was the first movie titled "Hamlet" made?

In [25]:
hamlet=titles[titles['title']=="Hamlet"].sort_values(by="year")
hamlet.iloc[0,:]

title    Hamlet
year       1910
Name: 46721, dtype: object

### List all of the "Treasure Island" movies from earliest to most recent.

In [26]:
titles[titles['title']=="Treasure Island"].sort_values(by="year")

                  title  year
206027  Treasure Island  1918
51287   Treasure Island  1920
191050  Treasure Island  1934
96934   Treasure Island  1950
89534   Treasure Island  1972
111343  Treasure Island  1973
205397  Treasure Island  1985
179354  Treasure Island  1999

### How many movies were made in the year 1950?

In [28]:
titles[titles['year']==1950].count()

title    1099
year     1099
dtype: int64

### How many movies were made in the year 1960?

In [29]:
titles[titles['year']==1960].count()

title    1501
year     1501
dtype: int64

### How many movies were made from 1950 through 1959?

In [31]:
titles[titles['year'].isin(list(range(1950,1960)))].count()

title    12711
year     12711
dtype: int64

In [34]:
titles[titles['year'].isin(list(range(1950,1960)))].sort_values(by='year', ascending=False)

                             title  year
21994           Pensione Edelweiss  1959
82467                Neng yan niao  1959
26490   Batu Belah Batu Bertangkup  1959
82521            Drillinge an Bord  1959
210885                   Black Cat  1959
...                            ...   ...
90813             Gao ge meng jing  1950
212952             The Blazing Sun  1950
90909           Il leone di Amalfi  1950
23755             Fast on the Draw  1950
68308           Guilt Is My Shadow  1950

[12711 rows x 2 columns]

### In what years has a movie titled "Batman" been released?

In [39]:
batman_df = titles[titles['title']=="Batman"]
batman_df.head()

        title  year
56000  Batman  1989
74608  Batman  1943

### How many roles were there in the movie "Inception"?

In [40]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [50]:
cast['name'][cast['title']=='Inception'].count()

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [55]:
cast['name'][(cast['title']=='Inception') & (cast['n'].isna())].count()

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [57]:
cast['name'][(cast['title']=='Inception') & (cast['n'].notna())].count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [58]:
cast[(cast['title']=='North by Northwest') & (cast['n'].notna())].sort_values(by="n")

,title,year,name,type,character,n
845516,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3382934,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1413409,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3043261,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
345822,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2941468,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1644542,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1236791,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2372617,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1757154,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
646039,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2225858,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
450691,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1463316,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
199768,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1343025,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [59]:
cast[(cast['title']=='Sleuth') & (cast['year']==1972)].sort_values(by="n")

,title,year,name,type,character,n
1654402,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
316652,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
362592,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1421434,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2635708,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1405219,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [60]:
cast[(cast['title']=='Sleuth') & (cast['year']==2007)].sort_values(by="n")

          title  year                 name     type          character    n
316653   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1254632  Sleuth  2007             Jude Law    actor               Milo  2.0
1751872  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
251883   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
362593   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2635707  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3244050  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [63]:
cast['name'][(cast['title']=='Hamlet') & (cast['year']==1921)].count()

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [67]:
cast['name'][(cast['title']=='Hamlet') & (cast['year']==1996)].count()

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [68]:
cast['name'][(cast['title']=='Hamlet')].count()

313

### How many people have played an "Ophelia"?

In [69]:
cast['name'][(cast['title']=='Hamlet') & (cast['character']=="Ophelia")].count()

15

### How many people have played a role called "The Dude"?

In [71]:
cast['name'][ (cast['character']=="The Dude")].count()

18

### How many people have played a role called "The Stranger"?

In [72]:
cast['name'][ (cast['character']=="The Stranger")].count()

212

### How many roles has Sidney Poitier played throughout his career?

In [73]:
cast['name'][ (cast['name']=="Sidney Poitier")].count()

43

### How many roles has Judi Dench played?

In [74]:
cast['name'][ (cast['name']=="Judi Dench")].count()

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [79]:
cast[(cast['name']=="Cary Grant") & cast['year'].isin(list(range(1940,1950))) & (cast['n']==2)].sort_values(by='year')

                   title  year        name   type    character    n
845513  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
845523    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [80]:
cast[(cast['name']=="Cary Grant") & cast['year'].isin(list(range(1940,1950))) & (cast['n']==1)].sort_values(by='year')

,title,year,name,type,character,n
845539,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
845495,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
845541,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
845528,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
845543,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
845519,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
845486,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
845511,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
845512,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
845520,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
845478,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
845515,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
845514,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
845517,Notorious,1946,Cary Grant,actor,Devlin,1.0
845535,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
845536,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
845510,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
845490,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
845499,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [4]:
cast['character'][cast['year'].isin(range(1950,1960))].count()

211470

In [5]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many roles were avilable for actresses in the 1950s?

In [6]:
cast['character'][(cast['year'].isin(range(1950,1960))) & (cast['type']=='actress')].count()

56412

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [8]:
cast['character'][(cast['year']<=1980) & (cast['n']==1)].count()

64095

### How many non-leading roles were available through from the beginning of film history through 1980?

In [9]:
cast['character'][(cast['year']<=1980) & (cast['n']!=1)].count()

1097484

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [10]:
cast['character'][(cast['year']<=1980) & (cast['n'].isna())].count()

439134